.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-size: 20px;
    font-weight: 500;
}