.toppageContainer{
    height: 80px;
    width: 100%;
    background-color: #28e241;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.toppageLeft{
    flex: 3;
    background-color: #28e241;
}
.logo{
    font-size: 45px;
    margin-left: 20px;
    font-weight: bold;
    background-color: #28e241;
    color: rgb(68, 67, 67);
    cursor: pointer;
}
.toppageCenter{
    flex: 5;
    background-color: #28e241;
}
.searchbar{
    width: 100%;
    height: 40px;

    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 30px !important;
    margin-left: 10px;
}
.searchInput{

    color: aliceblue;
    border:none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}
.toppageRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #28e241;
    color: rgb(68, 67, 67);
}

.toppageLink1{
    background-color: #28e241;
    padding-right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.toppageLink2{
    background-color: #28e241;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

.toppageLink3{
    background-color: #28e241;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

.toppageIcons{
    display: flex;
    padding-right: 20px;
    background-color:#28e241;

}
.toppageIconItem{

    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.toppageIconBadge{
    
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.toppageImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

a{
    background-color: #28e241;
    color: rgb(68, 67, 67);

}